@import "tailwindcss";

:root {
  --background: #1C1C1E;
  --foreground: #ededed;

  --primary-accent: #10b981;
  --primary-accent-hover: #059669;
  --bg-footer: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}